body {
	padding: 0; margin: 0; font-family: Arial;
	font-size: .9em;
	text-align: center;
	background: #e8eae3; 
	line-height: 1.5;
}
table {
	margin: 10px 0;
	background: #fff;
	border-collapse: collapse;
	width: 100%;
}
caption {
	font-weight: 700;
	text-align: left;
	font-size: .9em;
}
th {
	background: #e6e6f6;
	text-align: left;
	font-size: .9em;
	padding: 2px;
}
td {
	border: 1px solid #ddd;
	font-size: 1em;
	padding: 2px 5px;
}
#outer {
	padding: 0 1em;
	margin: 0 auto;
	text-align: left;
}
#head {
	background: #243f82;
	padding: 8px;
	border-bottom: 12px solid #79b3e1; 
	margin-bottom: 20px; 
	text-align: center;
}
#head a {
	color: #fff;
	text-decoration: none;
	font-family: Georgia;
	font-size: 1.5em;
}
#head a:hover , #head a:focus {
	text-decoration: underline;
	color: #ccf;
}

.values input {
	width: 100%;
	font-size: 1.1em;
}

a:hover, a:focus {
	text-decoration: none;
}

.tabs li {margin: 2px;}

form {
	background: #fff;
	padding: 1em;
	margin-bottom: 1em;
}

form p {
	margin: 5px;
	padding: 0;
}

.error {
	border: 2px solid #a00;
	padding: 2px 10px;
	background: #ffc;
	font-size: .9em;
	margin: 10px 2px;
}

.views {
	clear: both;
}

.views p {
	padding: .5em;
	text-align: center;
}

.link { font-size: .9em; }
.large {font-size: 25px;}
.small {font-size: 15px;}

.announce {
	clear: both;
	text-align: center;
	font-size: 1.8em;
	color: #fff;
	text-transform: uppercase;
}
.fail { background: #900; }
.pass { background: #070; }
.partial { background: #007; }
strong {color: #b22;}
.stats {
	margin: 0;
	padding: 10px;
	background: #fff;
	color: #118;
	font-size: 1.2em;
}
.stats.wcag2 {
	padding-bottom: 0;
}
.stats.small {
	padding-top: 0;
	font-size: .8em;
}
.donate {
	text-align: center;
	background: #ffe;
	border: 1px solid #ddd;
	padding:4px;
	font-size: 1.5em;
}

.tabs {
	list-style: none;
	margin: 0;
	padding: 0 0 0 20px;
	overflow: hidden;
	font-family: verdana;
	position: relative;
}
.tabs li {
	border: 1px solid #AAA;
	background: #D1D1D1;
	background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
	display: inline-block;
	position: relative;
	z-index: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
	text-shadow: 0 1px #FFF;
	margin: 0 -5px;
	padding: 0 20px;
}
.tabs a {
	color: #555;
	text-decoration: none;
}
.tabs a:focus, .tabs a:hover {
	color: #000;
	text-decoration: underline; 
}
.tabs li.active {
	background: #FFF;
	color: #333;
	z-index: 2;
	border-bottom-color: #FFF;
}
.tabs:before {
	position: absolute;
	content: " ";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #AAA;
	z-index: 1;
}
.tabs li:before,
.tabs li:after {
	border: 1px solid #AAA;
	position: absolute;
	bottom: -1px;
	width: 5px;
	height: 5px;
	content: " ";
}
.tabs li:before {
	left: -6px;
	border-bottom-right-radius: 6px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #D1D1D1;
}
.tabs li:after {
	right: -6px;
	border-bottom-left-radius: 6px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #D1D1D1;
}
.tabs li.active:before {
	box-shadow: 2px 2px 0 #FFF;
}
.tabs li.active:after {
	box-shadow: -2px 2px 0 #FFF;
}

p.description {
	font-size: 1.4em;
	margin: 0 auto 1em;
	line-height: 1.6;
}

@media screen and (min-width: 600px) {
	.form {	width: 47%;	float: right; }
	.stats {	width: 48%; }
	#outer { width: 580px; }
}

@media screen and (min-width: 800px) {
	#outer { width: 780px; }
}

@media screen and (min-width: 960px) {
	#outer { width: 940px; }
}